body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #eedddd;
}

input, button{
    display: inline;
    background-color: #fffefe;
    padding: 10px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
}

.respostes{
    display: inline;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #f0f0f0;
}

.resposta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.slot {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 5px;
    font-size: 18px;
    background-color: #fff;
}

.slot.green {
    background-color: #4caf50;
}
.slot.yellow {
    background-color: #f7ff8c;
}

.panel-title {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
}

texto{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
}

texto:hover{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #f6f0c1;
}

p{
    text-align: center;
    padding: 0px;
    margin: 0px
}

.separacion{

    text-align: center;
    padding: 10px;
    display: grid;
    display: inline-block;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 50px;

}

.botones{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
}

.botones:hover{
    box-shadow: #3f8042 2px 2px 1px;
}